# only account for files in src (and its subdirectories) to compute GitHub language statistics
src/** linguist-detectable
data/** linguist-vendored
doc/** linguist-vendored
plots/** linguist-vendored
results/** linguist-vendored
test/** linguist-vendored